<!DOCTYPE html>
<html lang="en">
<head>
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="css/home_style.css">
</head>
<body>
    <div class="container top-bar">
        Top Bar
    </div>
    <nav class="container sidebar">
        <ul>
            <li><a href="#">My Menu</a></li>
            <li><a href="#">My Orders</a></li>
            <li><a href="#">My Account</a></li>
        </ul>
    </nav>
    <div class="container main-content">
        Main Content
    </div>

</body>
</html>
